@media screen and (max-width:677px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    header{
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: end;
    }
    .headerspan1{
        width: 10%;
        height: auto;
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 300;
        line-height: auto;
        text-align: left;
    }
    .headerspan2{
        width: 10%;
        height: auto;
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 300;
        line-height: auto;
        text-align: left;
    }
    nav{
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 96%;
        height: auto;
    }
    .navdiv1 div img{
        display: flex;
        width: 40%;
        height: auto;
    
    }
    
    .navdiv1 div span{
        display:flex;
        width: auto;
        height: auto;
        align-items: center;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        color: #004866;
    }
    .navdiv2 ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 1rem;
        opacity: 0px;
    
    }
    
    ul li a{
        text-decoration: none;
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 21.51px;
        text-align: left;
        color: #004866;
    }
    ul li button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 1.5rem;
        background: #00B6FF;
        font-family: Open Sans;
        font-size: 8px;
        font-weight: 600;
        line-height: 10px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 0.3em;
        border: 0;
        text-transform: uppercase;
    }
    #maindiv1 article h2{
        margin: 0;
        width: 100%;
        height: auto;
        font-family: Open Sans;
        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        color: #004866;
    }
    #maindiv1 article p{
        margin: 0;
        width: 100%;
        height: auto;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 300;
        line-height: 22px;
        text-align: left;
        color: #222A41;
    }
    #maindiv1 article div span{
        display: flex;
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 25px;
        text-align: left;
        align-items: center;
        color:#004866;
    }
    #maindiv1 article div img{
        display: flex;
        width:1rem;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    #maindiv1 article div button{
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 1.5rem;
        background: #00B6FF;
        color: #FFFFFF;
        border-radius: 0.3em;
        border: 0;
        text-transform: uppercase;
        font-family: Open Sans;
        font-size: 8px;
        font-weight: 600;
        line-height: 10px;
        text-align: center;
        margin-left: auto;
    }
    #maindiv2 article h2{
        margin: 0;
        width: 100%;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        color: #004866;
    }
    #maindiv2 article p{
        font-weight: 300;
    }
    #maindiv3 .divleft article h2{
        width: 100%;
        height: auto;
        margin: 0;
        font-family: Open Sans;
        font-size: 38px;
        font-weight: 600;
        line-height: 50px;
        text-align: left;
        color: #004866;

    }
    #maindiv3 .divleft article p{
        width: 100%;
        height: auto;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        color: #222A41;
    
    }
    #maindiv3 .divleft article button{
        width: 6rem;
        height: 2rem;
        background: #00B6FF;
        color: #FFFFFF;
        border-radius: 0.3em;
        border: 0;
        text-transform: uppercase;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        margin-right: auto;
    
    }
    #maindiv3 .divright article h2{
        width: 100%;
        height: auto;
        margin: 0;
        font-family: Open Sans;
        font-size: 38px;
        font-weight: 600;
        line-height: 50px;
        text-align: left;
        color: #004866;
    }
    #maindiv3 .divright article p{
        width: 100%;
        height: auto;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        color: #222A41;
    
    }
    #maindiv3 .divright article button{
        width: 6rem;
        height: 2rem;
        background: #00B6FF;
        color: #FFFFFF;
        border-radius: 0.3em;
        border: 0;
        text-transform: uppercase;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        margin-right: auto;
    
    }
    #maindiv4 h1{
        text-align: center;
        font-family: Open Sans;
        font-size:38px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        color: #004866;
    }
    #maindiv4 p{
        width: 60%;
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        color: #222A41;
        text-align: center;
    
    }
    .maindiv4div1 .maindiv4left{
    width: 50%;
    height: 30rem;
    background: #D8D8D8;
    z-index: 10;
    border-radius: 1rem;

}
    .maindiv4div1 article{
        gap: 0rem;
    }

    .maindiv4div1 article h2{
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-align: left ;
        color: #004866;
    
    }
    .maindiv4div1 article h3{
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: #222A41;
    
    }
    .maindiv4div1 article p{
        font-family: Open Sans;
        font-size: 8px;
        font-weight: 300;
        line-height: 20px;
        text-align: left !important;
        color: #222A41;
    
    }
     /* responsive */
    .maindiv4div2 article h2{
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-align: left ;
        color: #004866;

    }
    /* responsive */
    .maindiv4div2 article h3{
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 20px;
        /* text-align: left; */
        color: #222A41;
    }
    /* responsive */
    .maindiv4div2 article p{
        font-family: Open Sans;
        font-size: 8px;
        font-weight: 300;
        line-height: 20px;
        text-align: left !important;
        color: #222A41;

    }

    #footerdiv1 h2{
        margin: 0;
        width: 100%;
        height:auto;
        font-family: Open Sans;
        font-size: 35px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
        color: #004866;
    }
    #footerdiv1 p{
        margin: 0;
        width: 50%;
        height: auto;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        color: #222A41;
    }
    #footerdiv1 div{
        padding: 0 1rem;
        display: flex;
        width: 50%;
        height: 3rem;
    }    
    #footerdiv1 div span{
        display: flex;
        width: 30%;
        height: auto;
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        align-items: center;
        color: #0047664c;
        
    }
    #footerdiv1 div button{
        width: 30%;
        height: 60%;
        background: #00B6FF;
        border: 0;
        color: #FFFFFF;
        border-radius: 0.3em;
        text-transform: uppercase;
        font-family: Open Sans;
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        margin-left: auto;
    }
    #footerdiv2 .navdiv1 {
        float: left;
        width: 20%;
        height: 2rem;
    }
    #footerdiv2 .navdiv1 div img{
        width: 100%;
        height: 100%;
    }
    #footerdiv2 .navdiv1 div span{
        font-size: 15px;
        font-weight: 700;
    }
    #footerdiv2 .navdiv2{
        margin-left: auto;
        width: 50%;
        height: auto;
    }
    #footerdiv2 .navdiv2 ul{
        height: auto;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
    }
    #footerdiv2 div{
        width: 30%;
    }
    

}